#navigation {
  // background-color: red;
  display: flex;
  justify-content: center;
  // position: absolute;
  // top: 0;
  background-color: rgba(255, 255, 255, .625);
  border-bottom: 1px solid #eee;
  z-index: 10;
  a {
    // color: green;
    color: black;
    padding: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    &:hover {
      // border: 1px solid #eee;
      box-sizing: border-box;
      // font-weight: 500;
      background-color: #eee;
    }
  }
}

.svg-container {
  // background-color: #aaa;
  padding: 10px;
  border-radius: 50%;
  width: 24px;
  height: 24px

  &:hover {
  }
}
.hover-icon {
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

.input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  // border: 1px solid black;
  span {
    font-size: 14px !important;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(97, 96, 96);
  }
  input {
    // height: 50px;
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    outline: none;
  }
}

#button-container {
  padding: 20px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #68d8d6;
  border: none;
  // border-radius: 5px;
  font-weight: 600;
  // width: 100%;
  outline: none;
  // color: #33658a;
  &:hover {
    cursor: pointer;
    // background-color: #ddd;
  }
}

#button-upload-container {
  background-color: #80ffe8;
  display: flex;
  box-sizing: border-box;
  // align-items: center;
  border-radius: 5px;
  // justify-content: space-between;

  label {
    // border: 1px solid black;
    align-items: center;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    // color: rgb(138, 138, 138);
    color: #0a2463;
    display: flex;
    justify-content: space-between;
    flex: 1;
    &:hover {
      // background-color: #ddd;
      cursor: pointer;
    }
  }
  input {
    display: none;
  }
}

#text-area-container {
  outline: none;
  background-color: #eee;
  resize: none;
  font-size: 16px;
  font-family: Helvetica;

  background-color: #eee;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

#upload-progress-container {
  height: 10px;
  width: 100%;
  background-color: #eee;
  margin: 10px 0px;

  #inner-progress-container {
    height: 100%;
    background-color: rgba(126, 87, 218, 0.596);
  }
}

#select-option-container {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
  }
  select {
    padding: 15px;
    font-size: 18px;
  }
}

// select
.custom-select {
  position: relative;
  font-family: Arial;
  width: 200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

// end select
#text-area-container {
  display: flex;
  flex-direction: column;
  span {
    font-size: 12px;
    margin-bottom: 10px;
  }
  text-area {
    font-size: 14px;
  }
}

#date-container {
  display: flex;
  // padding: 10px;
  // height: 50px;
  flex-direction: column;
  margin-bottom: 15px;
  span {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(100, 99, 99);
  }
  input {
    background-color: #eee;
    border: none;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}
